*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#0d0d0d;
color:white;
}

header{
background:#000;
position:fixed;
width:100%;
z-index:1000;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
}

nav ul{
display:flex;
list-style:none;
gap:20px;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
height:100vh;
background:url("https://images.unsplash.com/photo-1493225457124-a3eb161ffa5f") center/cover;
display:flex;
justify-content:center;
align-items:center;
position:relative;
}

.overlay{
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,.7);
}

.hero-content{
position:relative;
text-align:center;
max-width:700px;
}

.hero h1{
font-size:60px;
margin-bottom:20px;
}

.hero p{
font-size:20px;
margin-bottom:30px;
}

.btn{
padding:15px 30px;
background:#ff006e;
color:white;
text-decoration:none;
border-radius:50px;
}

.stats{
display:flex;
justify-content:center;
gap:30px;
padding:80px 20px;
background:#111;
}

.card{
background:#1b1b1b;
padding:30px;
border-radius:15px;
text-align:center;
width:200px;
}

.card h3{
font-size:40px;
color:#ff006e;
}

.agenda,
.orcamento,
.galeria,
.playlist,
.depoimentos,
.contato{
padding:100px 10%;
}

h2{
text-align:center;
margin-bottom:50px;
font-size:40px;
}

.evento{
background:#1a1a1a;
padding:20px;
margin-bottom:20px;
border-radius:10px;
}

.box{
max-width:500px;
margin:auto;
display:flex;
flex-direction:column;
gap:15px;
}

input,
select,
textarea{
padding:15px;
border:none;
border-radius:8px;
}

button{
padding:15px;
background:#ff006e;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.grid img{
width:100%;
height:300px;
object-fit:cover;
border-radius:10px;
}

.musicas{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
}

.musicas div{
background:#1a1a1a;
padding:30px;
text-align:center;
border-radius:10px;
}

.cards{
display:flex;
gap:20px;
flex-wrap:wrap;
justify-content:center;
}

.dep{
background:#1a1a1a;
padding:25px;
border-radius:10px;
max-width:300px;
}

.dep strong{
display:block;
margin-top:10px;
color:#ff006e;
}

form{
max-width:600px;
margin:auto;
display:flex;
flex-direction:column;
gap:15px;
}

footer{
background:black;
text-align:center;
padding:30px;
}

@media(max-width:768px){

.hero h1{
font-size:35px;
}

.stats{
flex-direction:column;
align-items:center;
}

.musicas{
grid-template-columns:1fr;
}

nav{
flex-direction:column;
gap:10px;
}
}
